<p id="notice"><%= notice %></p>

<h1>Hombres</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Cedula</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hombres.each do |hombre| %>
      <tr>
        <td><%= hombre.nombre %></td>
        <td><%= hombre.apellido %></td>
        <td><%= hombre.cedula %></td>
        <td><%= link_to 'Show', hombre %></td>
        <td><%= link_to 'Edit', edit_hombre_path(hombre) %></td>
        <td><%= link_to 'Destroy', hombre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hombre', new_hombre_path %>
